.App {
  text-align: center;
  padding: 40px;
}

.card{
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card .map-frame{
  width: 100%;
}

.card .table-frame .dataTables_wrapper{
  width: 100%;
}

.card .card-content{
  display: flex;
}

.chart-container{
  display: flex;
}

.chart-container .line-chart{
  width: 50%;
}

/*General Use Classes*/
.flex-row{
  display: flex;
  flex-direction: row;
}